@font-face {
  font-family: odin;
  src: url(fonts/Norse-Bold.otf);
}

body {
  display: flex;
  padding: 0;
  margin: 0;
  max-height: 99vh;
}

.left-part {
  max-width: 35%;
  position: relative;
  text-align: center;
  color: white;
}

img {
  width: 100%;
}

.logo {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  background: rgba(0, 0, 0, 1);
  opacity: 0.7;
  width: 100%;
  justify-content: center;
}

.odin-logo {
  width: 4em;
  margin: 0.5rem;
}

.odin-text {
  align-self: center;
  font-family: odin;
  font-size: 4rem;
}

footer {
  position: absolute;
  bottom: 1rem;
  left: 29%;
  font-size: small;
}

.right-part {
  width: 70%;
  margin-left: 3rem;
  margin-top: 6rem;
  margin-right: 3rem;
  flex-shrink: 9;
}

header {
}

.name {
  display: flex;
  gap: 3rem;
  margin-top: 1rem;
}

.f-name,
.l-name {
  display: flex;
  flex-direction: column;
}

.contact {
  display: flex;
  gap: 3rem;
  margin-top: 1rem;
}

.phone,
.email {
  display: flex;
  flex-direction: column;
}

.password {
  display: flex;
  gap: 3rem;
  margin-top: 1rem;
}

.password1,
.confirm-password {
  display: flex;
  flex-direction: column;
}